<div class="container">
    <h1>Bookify_Receipts</h1>

    <div class="status-labels">    
        <label>Upcoming</label>
        <br>
        <label>Completed</label>
        <br>
        <label>Cancelled</label>
     
    </div>
   <div class="date-time">
        <label for="dateTime">Date & Time:</label>
        <input type="datetime-local" id="dateTime" name="dateTime">
    </div>
    
    <div class="buttons">
        <button type="button" onclick="cancelBooking()">Cancel</button><button type="button" onclick="viewEReceipt()">View E-Receipt</button>
    </div>
</div>
<div class="container">
<div class="date-time">
    <label for="dateTime">Date & Time:</label>
    <input type="datetime-local" id="dateTime" name="dateTime">
</div>

<div class="buttons">
    <button type="button" onclick="cancelBooking()">Cancel</button><button type="button" onclick="viewEReceipt()">View E-Receipt</button>
</div>




